@use "../../scss/globals.scss";

.text-field {
  width: 100%;

  &__input {
    width: 100%;
    padding: calc(globals.$spacing-unit * 1.5);
    border: 1px solid globals.$border-color;
    border-radius: 4px;
    font-size: 14px;
    transition: all ease 0.2s;

    &:focus {
      outline: none;
      border-color: globals.$primary-color;
    }

    &::placeholder {
      color: globals.$body-color;
    }

    &--light {
      background-color: #fff;
      color: #000;
    }

    &--dark {
      background-color: rgba(0, 0, 0, 0.3);
      color: #fff;
    }
  }
}

